:root{
	--container-7xl:100rem;
}	

.max-w-prose {
	max-width: fit-content;
}

footer.max-w-prose {
	max-width:inherit;
}

img {
	margin-left: auto;
	margin-right: auto;
} 
figcaption {
	text-align: center;
}

#hero { 
	height:0px;
}
